# Aktifkan mod_rewrite
RewriteEngine On

# =========================================
# REDIRECT URL LAMA → KODE ACAK (301)
# =========================================

# Dashboard
RewriteRule ^oyjyx/urervflc/rzgih/pffmrkzdmgqa\.html$ /aosnsianaiwbdhdksnn-nsbdjsmak-lslslsk [R=301,L]

# Sensor 1
RewriteRule ^ackjq/jozpiwno/aubrst/dckdedqwzjpp\.html$ /pqowmskamxllsksnwiw-anskskqowpq-qpqpqpq [R=301,L]

# Sensor 2
RewriteRule ^oymren/avwftu/ecfhorcqx/qoplpmjojl/actgcefmozva\.html$ /xnskslqpaowpqmslals-skslalsowpwq-qpqpwks [R=301,L]

# Sensor 3
RewriteRule ^oimiiwasyx/zavqdnan/awafbiatqg/xxzaaxdkiign\.html$ /lqmsosksnwoqpqpalsks-skslslalqpqp-zmxnsls [R=301,L]

# Excel
RewriteRule ^zbaqr/nszlgvp/vpkjh/jqtrldzoiqmf\.html$ /akslsnwoqpqpqpqmslal-siskskqpqpall-qpqpals [R=301,L]
