RewriteEngine On

# Dashboard (redirect ke kode acak)
Redirect 301 /oyjyx/urervflc/rzgih/pffmrkzdmgqa.html /aosnsianaiwbdhdksnn-nsbdjsmak-lslslsk

# Sensor 1
Redirect 301 /ackjq/jozpiwno/aubrst/dckdedqwzjpp.html /pqowmskamxllsksnwiw-anskskqowpq-qpqpqpq

# Sensor 2
Redirect 301 /oymren/avwftu/ecfhorcqx/qoplpmjojl/actgcefmozva.html /xnskslqpaowpqmslals-skslalsowpwq-qpqpwks

# Sensor 3
Redirect 301 /oimiiwasyx/zavqdnan/awafbiatqg/xxzaaxdkiign.html /lqmsosksnwoqpqpalsks-skslslalqpqp-zmxnsls

# Excel
Redirect 301 /zbaqr/nszlgvp/vpkjh/jqtrldzoiqmf.html /akslsnwoqpqpqpqmslal-siskskqpqpall-qpqpals
